Skip to content

Search…
All gists
GitHub
New gist
0
1 @barenkobarenko/.gitignore
Created 7 years ago •

<script src="https://gist.github.com/barenko/1220223.js"></script>

 Code  Revisions 1  Forks 1
General .gitignore template
 .gitignore
###################
#.gitignore       #
###################

###################
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

############
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

############
# SO files #
############
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

#############
# log files #
#############
log/**/*
*.log
*.sqlite

###################
# temporary files #
###################
tmp/**/*
*.tmp
*.temp

##############
# ruby files #
##############
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

##################
# YARD artifacts #
##################
.yardoc
_yardoc
doc/

###############
# rails files #
###############
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
 @TezSmith





Leave a comment
Attach files by dragging & dropping, , or pasting from the clipboard.  Styling with Markdown is supported
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
Press h to open a hovercard with more details.
